.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        .header{
            grid-area: header;
        }
        .main{
            background-color: rgb(215, 245, 235);
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-area: main;
            h2{
                text-align: center;
                padding: 1rem;
            }
            .img{
                text-align: center;
                padding: 1rem;
                ul{
                    text-align: center;
                    list-style-type: none;
                    justify-content: center;
                }
            }
        }
        .aside{
            background-color: $fondo;
            display: flex;
            flex-direction: column;
            grid-area: aside;
            justify-content: space-between;
            h3{
                text-align: center;
            }
            ul{
                text-align: center;
                list-style-type: none;
                line-height: 50px;
                font-size: 20px;
                li{
                    img{
                        width: 150px;
                    }
                }
            }
        }
    .footer-contacto{
        background-color: $footer;
        grid-area: footer;
    }
}