main{
    h2{
        padding: 10px;
        margin: 5px;
        text-align: center;
        text-decoration: underline;
    }
    p{
        padding: 10px;
        margin: 10px;
    }
    .flex-container-carousel{
        display: flex; 
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        .texto-carousel{
            background-color: #f5f5dca0;
            border-radius: 15px;
        }
    }
}