@media screen and (max-width:768px){
.contenedor{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "main" 
        "aside"
        "footer";
    }
}
@media screen and (max-width:480px){
    .header{
       flex-direction: column;
    }
    .header_logo img{
        margin-bottom: 20px;
    }
    .main{
       flex-direction: column;
    }
}